.connect-section h2 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

.connect-section p {
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.connect-links {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between icons */
}

.connect-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
}

.connect-link:hover {
  transform: translateY(-5px);
  color: #0077b5; /* Change color on hover, adjust as needed for different platforms */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
