/* Basic reset */
html {
  scroll-behavior: smooth;
}

body,
#root,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /* Ensures the container stretches through the full height */
}

.App > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Adjust padding or margins as necessary */
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Section Styles */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Specific section background colors for visual differentiation */
#main {
  background-color: #f44336;
}
#about {
  background-color: #e91e63;
}
#projects {
  background-color: #9c27b0;
}
#skills {
  background-color: #673ab7;
}
#connect {
  background-color: #3f51b5;
}
